.items {
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: space-around;
    margin-top: 30px;
    text-align: center;
}
.items li {
    list-style: none;
    cursor: pointer;
    flex: 1 1 250px;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}
.items li.active {
    border: 1px solid #ddd;
    border-bottom: 0;
    border-radius: 8px 8px 0 0;
    background: #46626d;
    color: #ddd;
}